<h1>Hi! Welcome to SimplyStartup</h1>
<div class="container">
<p>Here you will find friendly support to help you make your ideas reality.</p>

<p>We're all good at different things and our buddy system gets you connected to women who have the skills you lack, and groups who need your skills in exchange.</p>

<p>It's FREE to sign up! You get credits when you help others and spend credits when you get help.</p>
</div>
<a href="steps" class="btn btn-default" role="button">Get Started!</a>
<a href="#" class="btn btn-default" role="button">Take a look around!</a>
