<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon">1</i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                               <i class="glyphicon">2</i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                               <i class="glyphicon">3</i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h3>Step 1</h3>
                        <p>Skilling up</p>

                        Coding: <input type="checkbox" name="skills" value="coding"  />
                                <input type="checkbox" name="need" value="coding"  /><br />
                        Technical design: <input type="checkbox" name="skills" value="technical_design"  />
                                        <input type="checkbox" name="need" value="technical_design"  /><br />
                        Creative design: <input type="checkbox" name="skills" value="creative_design"  />
                                        <input type="checkbox" name="need" value="creative_design"  /><br />
                        Organisation and planning:<input type="checkbox" name="skills" value="organisation"  />
                                <input type="checkbox" name="need" value="organisation"  /><br />
                        Accounting:<input type="checkbox" name="skills" value="accounting"  />
                                <input type="checkbox" name="need" value="accounting"  /><br />
                        Marketing: <input type="checkbox" name="skills" value="marketing"  />
                                <input type="checkbox" name="need" value="marketing"  /><br />
                        Career advice and mentoring: <input type="checkbox" name="skills" value="mentoring"  />
                                <input type="checkbox" name="need" value="mentoring"  /><br />
                        Legal advice: <input type="checkbox" name="skills" value="legal"  />
                                <input type="checkbox" name="need" value="legal"  /><br />
                        Copywriting: <input type="checkbox" name="skills" value="copywriting"  />
                                <input type="checkbox" name="need" value="copywriting"  /><br />
                    </div>
                    <ul class="list-inline pull-right">
                        <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                    </ul>

                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h3>Step 2</h3>
                        <p>About you</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h3>Step 3</h3>
                        <p>Get your credits!</p>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>
